<div class="contents_post" >
    <% @tweets.each do |tweet| %>
      <div style="background-image: url(<%= tweet.image %>);">
        <span class="name"><%= tweet.name %></span>
        <span class="shop_name"><%= tweet.shop_name %></span>
        <span class="explanation"><%= tweet.explanation %></span>
      </div>
    <% end %>
  </div> 